<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nuova Ricetta</title>
<link rel="stylesheet" href="/css/ricette-stile.css">
</head>
<body>
	<header>
		<div>
			<a href="/"><img src="/images/siw-food-logo.png" width="50%" /></a>
		</div>
		<h1>Aggiungi una ricetta</h1>
	</header>
	<main>
		<form th:action="@{ricetta}" method="POST"
			th:object="${ricetta}">

			<div>
				<label>Nome:</label> <span><input required type="text"
					th:field="${ricetta.name}" /></span>
			</div>

			<div>
				<label>Descrizione:</label> <span><input required type="text"
					th:field="${ricetta.description}" /></span>
			</div>
			<div>
				<label>Foto:</label> <span><input required type="text"
					th:field="${ricetta.photo}" /></span>
			</div>

			<div>
				<label>Codice del cuoco:</label> <span><input
					required type="number" th:field="${ricetta.cuoco}" /></span>
			</div>
			<br></br> <span>Cuochi registrati:</span>
			<ul>
				<li th:each="cuoco: ${cuochi}"><a
					th:text="'Codice ' + ${cuoco.id} + ' --- ' + ${cuoco.name} + ' ' + ${cuoco.surname}">Bruno
						Barbieri</a></li>
			</ul>

			<div>
				<span><button type="submit">Conferma</button></span>
			</div>
		</form>
	</main>
</body>
</html>
