<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Modifica Ricette</title>
<link rel="stylesheet" href="/css/manage.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><span class="user-info" th:if="${userDetails}"> <span
						class="username" th:text="${userDetails.username}"></span> <a
						class="no-underline" th:href="@{/logout}">Logout</a>
				</span> <a th:unless="${userDetails}" href="/login">Login</a></li>
			</ul>
		</nav>
		<h1>Modifica una ricetta</h1>
	</header>
	<main>
		<div th:if="${messaggioErrore}">
			<p th:text="${messaggioErrore}">Messaggio Errore</p>
		</div>
		<h4>Scegli una ricetta da modificare:</h4>
		<ul class="ricette-list" th:if="${!ricette.isEmpty()}">
			<li th:each="ricetta : ${ricette}"><a
				th:href="@{'/ricetta' + '/' + ${ricetta.id}}"
				th:text="${ricetta.name}"></a> <a th:if="${userDetails != null}"
				th:href="@{'/cuoco/formUpdateRicetta' + '/' + ${ricetta.id} + '/' + ${userDetails.username}}">(Aggiorna)</a>
			</li>
		</ul>
	</main>
	<footer>
		<p>Contattaci: vincenzo.milillo2002@gmail.com</p>
		<p>Seguici sui nostri social media!</p>
		<p>&copy; 2024 siw-food. Tutti i diritti riservati.</p>
	</footer>
</body>
</html>




