/* Reset di base per margini e padding */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili per l'header */
header {
    background-color: #2e7d32; /* Verde scuro */
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none; /* Rimuove l'elenco puntato */
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline; /* Impedisce il riempimento automatico */
    margin: 0 10px; /* Aggiunge spazio tra i link */
}

header nav ul li a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: white; /* Testo bianco */
}

header nav ul li a:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio del mouse */
    color: red; /* Cambia il colore del testo al passaggio del mouse */
}

/* Stili per il contenuto principale */
main {
    padding: 20px;
    font-size: 24px;
    min-height: calc(100vh - 160px); /* Assicura che il contenuto riempia lo spazio disponibile */
    /* Calcolo: 100vh - altezza header (60px) - altezza footer (20px) - padding (40px) */
}

/* Stili per la lista delle ricette */
.ricette-list {
    list-style-type: none; /* Rimuove l'elenco puntato */
    padding: 0;
}

.ricette-list li {
    margin-bottom: 10px;
}

.ricette-list li a {
    text-decoration: none;
    color: #2e7d32; /* Verde scuro */
}

.ricette-list li a:hover {
    text-decoration: underline;
}

/* Stile per i nomi dei cuochi */
.cuoco-name {
    color: #2e7d32; /* Verde scuro */
    text-decoration: none; /* Rimuove la sottolineatura */
}

.cuoco-name:hover {
    text-decoration: underline; /* Aggiunge la sottolineatura al passaggio del mouse */
}

/* Stile per il link "Elimina" */
.elimina-link {
    color: red; /* Colore rosso */
    text-decoration: none; /* Rimuove la sottolineatura */
}

.elimina-link:hover {
    text-decoration: underline; /* Aggiunge la sottolineatura al passaggio del mouse */
}



/* Stili per il footer */
/* Stili per il footer */
footer {
    background-color: #2e7d32; /* Verde scuro */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative; /* Posizionamento relativo */
    bottom: 0;
    width: 100%;
    margin-top: 20px; /* Aggiunge spazio sopra il footer */
}

