/* Stili specifici per la pagina delle ricette */

/* Stili per l'header */
header {
    background-color: #2e7d32;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-top: 10px;
    font-size: 24px;
}

/* Stili per il contenuto principale */
main {
    padding: 20px;
    font-size: 24px;
}

