<!DOCTYPE html>
<html>

  <head>
    <title>Cuochi</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
  </head>

  <body>
    <div><a href="/"><img src="/images/siw-food-logo.png" width="50%"/></a></div>
    <h1>Cuochi</h1>
    <div th:if="${cuochi.isEmpty()}">Non ci sono cuochi nel sistema</div>
    <ul>
      <li th:each="cuoco : ${cuochi}">
        <a th:href="@{'/cuoco' + '/' + ${cuoco.id}}"
           th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}"></a>
      </li>
    </ul>
  </body>

</html>