<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cuoco</title>
<link rel="stylesheet" href="/css/ricetta-stile.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><span class="user-info" th:if="${userDetails}"> <span
						class="username" th:text="${userDetails.username}"></span> <a
						class="no-underline" th:href="@{/logout}">Logout</a>
				</span> <a th:unless="${userDetails}" href="/login">Login</a></li>
			</ul>
		</nav>
		<h1>Dati del cuoco selezionato</h1>
	</header>

	<main>
		<div class="cuoco-info" th:if="${cuoco}">
			<h1 class="cuoco-titolo"
				th:text="${cuoco.name} + ' ' + ${cuoco.surname}">Info cuoco</h1>
			<div class="cuoco-immagine">
				<img th:if="${cuoco.photo.startsWith('https')}"
					th:src="${cuoco.photo}" style="width: 30%; height: auto;"> <img
					th:unless="${cuoco.photo.startsWith('https')}"
					th:src="@{/images/__${cuoco.photo}__}"
					style="width: 30%; height: auto;">
			</div>
			<h4 th:if="${cuoco.description}" th:text="${cuoco.description}">Info cuoco</h4>
		</div>
	</main>
	<footer>
		<p>Contattaci: vincenzo.milillo2002@gmail.com</p>
		<p>Seguici sui nostri social media!</p>
		<p>&copy; 2024 siw-food. Tutti i diritti riservati.</p>
	</footer>
</body>
</html>
