<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione - Siwfood</title>
    <link rel="stylesheet" href="/css/login-stile.css">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="login-box">
            <div>
                <h1>Inserisci le credenziali per registrarti</h1>
            </div>
            <form th:action="@{/register}" method="POST">
                <div class="input">
                    <input type="text" placeholder="Username" required th:field="${credentials.username}" />
                    <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"
                          th:style="'color:red'"></span>
                </div>
                <div class="input">
                    <input type="password" placeholder="Password" required th:field="${credentials.password}" />
                    <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"
                          th:style="'color:red'"></span>
                </div>
                <div class="input">
                    <input type="text" placeholder="Nome" required th:field="${user.name}" />
                    <span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" th:style="'color:red'"></span>
                </div>
                <div class="input">
                    <input type="text" placeholder="Cognome" required th:field="${user.surname}" />
                    <span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}"
                          th:style="'color:red'"></span>
                </div>
                <div class="input">
                    <input type="text" placeholder="Email" required th:field="${user.email}" />
                    <span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'"></span>
                </div>
                <div class="input">
                    <input type="text" placeholder="Descrizione" required th:field="${user.email}" />
                    <span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'"></span>
                </div>
                <div class="input">
                    <input type="date" placeholder="Data di Nascita" required th:field="${user.birthdate}" />
                    <span th:if="${#fields.hasErrors('user.birthdate')}" th:errors="${user.birthdate}" th:style="'color:red'"></span>
                </div>
                <br>
                <div class="input">
					<input required type="file" placeholder="Immagine" th:field="${user.photo}">
					<span th:if="${#fields.hasErrors('user.photo')}" th:errors="${user.photo}" th:style="'color:red'"></span>
				</div>
                <div>
                <br>
                    <button type="submit">Registrati</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <p>Contattaci: vincenzo.milillo2002@gmail.com</p>
        <p>Seguici sui nostri social media!</p>
        <p>&copy; 2024 Siwfood. Tutti i diritti riservati.</p>
    </footer>

</body>
</html>
