<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SiwFood - Homepage</title>
<link rel="stylesheet" href="/css/stile.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</nav>
		<h1>Benvenuto nel mondo culinario</h1>
	</header>

	<main>
		<section class="intro">
			<h2>Scopri il mondo della cucina</h2>
			<img
				src="https://th.bing.com/th/id/OIP.uNEiEjWsu6B4bsdelroswgHaEJ?rs=1&pid=ImgDetMain"
				alt="Immagine green 1"> <img
				src="https://th.bing.com/th/id/OIP.xJZNb3wjCLDJ1BKO0ZHoAgHaEo?rs=1&pid=ImgDetMain"
				alt="Immagine green 2"> <img
				src="https://www.performancefoodservice.com/-/media/PFS/Article/performancefoodservice-GetInspired-MichelinStar-sm/performancefoodservice-GetInspired-MichelinStar-sm.jpg"
				alt="Immagine green 3">
		</section>

		<section class="links">
			<h2>Consulta ricette, cuochi</h2>
			<ul>
				<li><a href="/ricette">Ricette</a></li>
				<li><a href="/cuochi">Cuochi</a></li>
			</ul>
			<h2>Oppure fatti ispirare dagli ingredienti</h2>
			<ul>
				<li><a href="/ingredienti">Ingredienti</a></li>
			</ul>
		</section>
	</main>

	<footer>
		<p>Contattaci: vincenzo.milillo2002@gmail.com</p>
		<p>Seguici sui nostri social media!</p>
		<p>&copy; 2024 siw-food. Tutti i diritti riservati.</p>
	</footer>
</body>
</html>
<!-- <html>
<head>
<title>SiwFood - Homepage</title>
<link rel="stylesheet" href="/css/stile.css">
</head>
<body>
	<div>
		<img src="/images/siw-food-logo.png" width="50%">
	</div>
	<h1>Consulta Ricette e Cuochi</h1>
	<div>
		<a href="/ricette">Ricette</a>
	</div>
	<div>
		<a href="/cuochi">Cuochi</a>
	</div>
	<div>
		<a href="/ingredienti">Ingredienti</a>
	</div>
</body>
</html> -->