<!DOCTYPE html>
<html>
 <head>
	 <title> SiwFood - Homepage </title>
	 <link rel="stylesheet" href="/css/stile.css">
 </head>
 <body>
	 <div>
		 <img src="/images/siw-food-logo.png" width="50%">
	 </div>
	 <h1>Consulta Ricette e Cuochi</h1>
	 <div>
		 <a href="/ricette">Ricette</a>
	 </div>
	 <div>
		 <a href="/cuochi">Cuochi</a>
	 </div>
	 <div>
		 <a href="/ingredienti">Ingredienti</a>
	 </div>
	 <!-- <div>
		 <a href="/movie">Film</a>
		 <br>
		 <a href="/formSearchMovies">Ricerca un film per anno</a>
	 </div>
	 <h1>Consulta artisti</h1>
	 <div>
		 <a href="/artist">Artisti</a>
	 </div>
	 <h2>Modifica Film/Artisti</h2>
	 <div>
		 <a href="/formNewMovie">Inserisci un nuovo Film</a>
	 </div>
     <div>
		 <a href="/formNewArtist">Inserisci un nuovo Artista</a>
	 </div>
	 <div>
	 	<a href="/manageMovies">Gestisci i film</a>
	 </div> -->
 </body>
</html>