<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredienti con stagionalità</title>
    <link rel="stylesheet" href="/css/ricette-stile.css">
</head>
<body>
    <header>
        <div><a href="/"><img src="/images/siw-food-logo.png" width="50%" alt="SIW Food Logo"/></a></div>
        <h1>Ingredienti con stagionalità</h1>
    </header>

    <main>
        <div th:if="${ingredienti.isEmpty()}">Non ci sono ingredienti nel sistema</div>
        <ul class="ingredienti-lista">
            <li th:each="ingrediente : ${ingredienti}">
                <div class="ingrediente">
                    <a th:href="@{'/ingrediente/' + ${ingrediente.id}}">
                        <h2 th:text="${ingrediente.name} + ' (' + ${ingrediente.season} + ')'"></h2>
                    </a>
                </div>
            </li>
        </ul>
    </main>
</body>
</html>
