<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lista ricette</title>
<link rel="stylesheet" href="/css/ricettev2-stile.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><span class="user-info" th:if="${userDetails}"> <span
						class="username" th:text="${userDetails.username}"></span> <a
						class="no-underline" th:href="@{/logout}">Logout</a>
				</span> <a th:unless="${userDetails}" href="/login">Login</a></li>
			</ul>
		</nav>
		<h1>Lista delle ricette</h1>
	</header>

    <main>
    <h3>Clicca sulla ricetta per scoprire informazioni dettagliate!</h3>
    <h3>Oppure clicca sul cuoco che l'ha proposta:</h3>
        <div th:if="${ricette.isEmpty()}">Non ci sono ricette nel sistema</div>
        <ul>
            <li th:each="ricetta : ${ricette}">
               <div>
                    <a th:href="@{'/ricetta/' + ${ricetta.id}}" th:text="${ricetta.name}"></a>
                    <span>- </span><a th:href="@{'/cuoco/' + ${ricetta.cuoco.id}}" th:text="${ricetta.cuoco != null ? ricetta.cuoco.surname : 'N/A'}"></a>
                </div>
            </li>
        </ul>
    </main>
    <footer>
		<p>Contattaci: vincenzo.milillo2002@gmail.com</p>
		<p>Seguici sui nostri social media!</p>
		<p>&copy; 2024 siw-food. Tutti i diritti riservati.</p>
	</footer>
</body>
</html>
