<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricette</title>
    <link rel="stylesheet" href="/css/ricette-stile.css">
</head>
<body>
    <header>
        <div>
            <a href="/"><img src="/images/siw-food-logo.png" width="50%" /></a>
        </div>
        <h1>Ricette</h1>
        <a href="/formNewRicetta" class="new-recipe-link">Inserisci una nuova Ricetta</a>
    </header>

    <main>
        <div th:if="${ricette.isEmpty()}">Non ci sono ricette nel sistema</div>
        <ul class="ricette-lista">
            <li th:each="ricetta : ${ricette}">
                <div class="ricetta">
                    <div class="immagine-anteprima">
                        <img th:src="@{${ricetta.photo}}" alt="Anteprima Ricetta" />
                    </div>
                    <div class="dettagli">
                        <h2>
                            <a th:href="@{'/ricetta/' + ${ricetta.id}}" th:text="${ricetta.name}"></a>
                        </h2>
                        <a th:href="@{'/cuoco/' + ${ricetta.cuoco.id}}" th:text="'(' + ${ricetta.cuoco != null ? ricetta.cuoco.surname : 'N/A'} + ')'">(Barbieri)</a>
                        <p class="descrizione" th:text="${ricetta.description}"></p>
                    </div>
                </div>
            </li>
        </ul>
        
    </main>
</body>
</html>
