<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nuova Ricetta</title>
<link rel="stylesheet" href="/css/newRicetta-stile.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><span class="user-info" th:if="${userDetails}"> <span
						class="username" th:text="${userDetails.username}"></span> <a
						class="no-underline" th:href="@{/logout}">Logout</a>
				</span> <a th:unless="${userDetails}" href="/login">Login</a></li>
			</ul>
		</nav>
		<h1>Aggiungi una ricetta</h1>
	</header>
	<main>
		<form th:action="@{/admin/ricetta}" method="POST" th:object="${ricetta}" enctype="multipart/form-data">
				<h1>Inserisci Ricetta</h1>
				<input required type="text" placeholder="Nome" th:field="${ricetta.name}">
				<input required type="text" placeholder="Descrizione" th:field="${ricetta.description}">
				<input required type="file" placeholder="Immagine" name="immagine">
				<!-- <input required type="text" placeholder="Immagine" th:field="${ricetta.photo}"> -->
				<input type="hidden" name="username" th:value="${userDetails.username}"/>
				<br>
				<br>
				<button>Conferma</button>
		</form>
	</main>
	<footer>
		<p>Contattaci: vincenzo.milillo2002@gmail.com</p>
		<p>Seguici sui nostri social media!</p>
		<p>&copy; 2024 siw-food. Tutti i diritti riservati.</p>
	</footer>
</body>
</html>
