<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SiwFood - Homepage</title>
<link rel="stylesheet" href="/css/stile.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><span class="user-info" th:if="${userDetails}"> <span
						class="username" th:text="${userDetails.username}"></span> <a
						class="no-underline" th:href="@{/logout}">Logout</a>
				</span> <a th:unless="${userDetails}" href="/login">Login</a></li>
			</ul>
		</nav>
		<h1>Cuoco, benvenuto nel progetto siw-food</h1>
	</header>


	<main>
		<section class="intro">
			<h2>Scopri il mondo della cucina</h2>
			<h4>Benvenuti nel mondo della cucina, dove ogni piatto racconta
				una storia e ogni ricetta è un viaggio culinario! Il nostro sito è
				un'oasi digitale per gli amanti del buon cibo e dell'arte culinaria.
				Esplora un vasto universo di sapori, aromi e colori, dove le
				tradizioni si intrecciano con la creatività e l'innovazione</h4>
			<img src="/images/cuoco.png" alt="Immagine green 1"> <img
				src="/images/piatto.png" alt="Immagine green 2"> <img
				src="/images/piatto2.png" alt="Immagine green 3">
		</section>

		<section class="links">
			<h2>Consulta le nostre ricette ed i nostri cuochi verificati</h2>
			<ul>
				<li><a href="/ricette">Ricette</a></li>
				<li><a href="/cuochi">Cuochi</a></li>
			</ul>
			<h2>Oppure fatti ispirare dagli ingredienti...</h2>
			<ul>
				<li><a href="/ingredienti">Ingredienti</a></li>
			</ul>
			<h2>Gestione dei cuochi</h2>
			<ul>
				<li><a th:href="@{'/admin/formNewCuoco/' + ${userDetails.username}}">Inserisci un nuovo cuoco</a></li>
				<li><a href="/admin/manageCuochi">Modifica un cuoco esistente</a></li>
			</ul>
			<h2>Gestione delle ricette</h2>
			<ul>
				<li><a th:href="@{'/admin/formNewRicetta'}">Inserisci nuova ricetta</a></li>
				<li><a href="/admin/manageRicette">Modifica una ricetta esistente</a></li>
			</ul>
			<h2>Gestione degli ingredienti</h2>
			<ul>
				<li><a href="/admin/formNewIngrediente">Inserisci nuovo ingrediente</a></li>
				<li><a href="/admin/manageIngredienti">Modifica un ingrediente esistente</a></li>
			</ul>
		</section>
	</main>

	<footer>
		<p>Contattaci: vincenzo.milillo2002@gmail.com</p>
		<p>Seguici sui nostri social media!</p>
		<p>&copy; 2024 siw-food. Tutti i diritti riservati.</p>
	</footer>
</body>
</html>
